* {
 
    font-family: Source Code Pro;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background: transparent;
    color: white;
    
}

tooltip {
	background: #0f0f0f;
	border-radius: 15px;
	border-width: 2px;
	border-style: groove;
	border-color: #262626;
	}

#custom-weather,
#clock, 
#custom-updates,
#taskbar, 
#network,
#pulseaudio, 
#backlight,	
#cpu, 
#memory,
#disk,
#temperature,
#battery, 
#tray,
#custom-power {
	background-color: #434c5e;
	padding: 5px 10px;
	margin: 5px 0px;
	
}

 #custom-weather {
	background-color: #434c5e;
	 border-radius: 15px 0px 0px 15px;
}

#custom-updates{
	   background-color:#434c5e;
	   border-radius: 0px 15px 15px 0px;
           margin-right: 10px;
}


#custom-power{
	   border-radius: 0px 15px 15px 0px;

}


#taskbar{
	   border-radius: 15px 0px 0px 15px;

}

#battery.charging, #battery.plugged {
	color: #161320;
    background-color: #B5E8E0;
}

#battery.critical:not(.charging) {
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    to {
        background-color: #BF616A;
        color: #B5E8E0;
    }
}

#battery {
    color: #9ec49f;
}






