/* import css definitions for current theme */
@import url("/home/cr00k3d/.cache/wal/colors.css");

#outer-box {
	/*border: 1px solid @accent_color;
	border-radius: 10px;*/
}

#input {
	border: none;
	border-radius: 20px;
	margin: 10px;
}

#img {
	padding-left: 15px;
	padding-right: 15px;
}

#text {
	margin-left:1em;	
}

window {
	color: @background;
	border-radius: 20px;
	
}
